@charset "windows-1251";
/* CSS Document */

#chat_body
{
    width:480px;
    margin:8px auto 3px;
    float:left;
}

#chat_text_field /* Стили для текстового поля */
{
    overflow:auto; /* Отображается полоса прокрутки, когда высота контента > высоты текстового поля */
    border:1px solid #999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding:3px;
    background-color:#29343d;
}

#chat_text_input /* Стили для поля ввода */
{
    float:left;
    width:370px;
    margin:5px 0;
    font:13px Verdana, Geneva, sans-serif;
    border:1px solid #999;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.chat_mess_time
{
    font:10px Verdana, Geneva, sans-serif !important;
    margin:1px 3px;
}
.chat_nickname
{
    font-weight:bold;
}
.chat_post_my
{
    font:11px Verdana, Geneva, sans-serif !important;
    margin:1px 3px; color:#42ff00;
}
.chat_post_other
{
    font:11px Verdana, Geneva, sans-serif !important;
    margin:1px 3px; color:#d51c1c;
}

